<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
        <param name="target" value="System.out"/>
        <param name="immediateFlush" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d [%t] [%-5p] [%c:%L] - %m%n"/>
        </layout>  
        <!--
        <layout class="org.apache.log4j.PatternLayout"> 
           <param name="ConversionPattern" value="[%t] %5p (%F:%L) - %m%n"/> 
        </layout> 
        -->
    </appender> 
  
    <appender name="file" class="org.apache.log4j.RollingFileAppender">    
        <param name="append" value="true"/>  
        <param name="threshold" value="DEBUG"/>
        <param name="file" value="example.log"/>
        <param name="MaxFileSize" value="100KB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="1"/>
        <!--Normal Layout-->
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d [%t] [%-5p] [%c:%L] - %m%n"/> 
            <!--
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
            -->
        </layout> 
        <!--Html layout
        <layout class="org.apache.log4j.HTMLLayout"> 
            <param name="title" value="Logs"/>
            <param name="localtionInfo" value="true"/>       
            <param name="ConversionPattern" value="%d [%t] [%-5p] [%c:%L] - %m%n"/>     
        </layout> 
        -->
    </appender> 
    
    <appender name="dfile" class="org.apache.log4j.DailyRollingFileAppender">    
        <param name="append" value="true"/>  
        <param name="threshold" value="debug" />
        <param name="file" value="example_d.log"/>        
        <!--Normal Layout-->
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d [%t] [%-5p] [%c:%L] - %m%n"/> 
            <!--
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
            -->
        </layout> 
        <!--Html layout
        <layout class="org.apache.log4j.HTMLLayout"> 
            <param name="title" value="Logs"/>
            <param name="localtionInfo" value="true"/>       
            <param name="ConversionPattern" value="%d [%t] [%-5p] [%c:%L] - %m%n"/>     
        </layout> 
        -->
    </appender> 
  
    <logger name="log4jexample.SpecialLogger" additivity="true">
        <level value="WARN"/>   
        <appender-ref ref="dfile"/>          
    </logger>
    
    <root> 
        <priority value ="DEBUG" /> 
        <appender-ref ref="console" />   
        <appender-ref ref="file"/>                          
    </root>
</log4j:configuration>